.pagination-custom {
  background-color:  #101011 !important;
}

ngb-pagination ::ng-deep a {
  border: none;
  background-color: transparent;
  color: rgb(61, 122, 148) !important;
}

ngb-pagination ::ng-deep .page-item.disabled .page-link {  
  background-color: transparent;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  color: white !important;
  background-color: transparent;
}