<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid px-lg-4 ms-5 me-5">
    <div class="d-flex">
      <a routerLink="/home" class="navbar-brand text-primary fw-bold text-info-emphasis me-1 ms-4">CCAMDb</a>
      <a class="navbar-brand text-primary text-info-emphasis m-0">2.0</a>
    </div>
    
    <div class="d-flex">
      <app-pesquisa-filme (onTituloSelecionado)="selecionarFilmesPorTitulo($event)" class="ml-auto mx-2 me-3"></app-pesquisa-filme>
      <button routerLink="/home" class="btn btn-outline-info ms-3 mx-2 me-3">Pagina Inicial</button>
    </div>
  </div>
</nav>