<div class="d-flex justify-content-end">
  <div class="d-flex justify-content-center w-75 w-md-50 w-lg-50">
      <input type="text" [(ngModel)]="titulo" placeholder="Pesquise por título..."
          (keydown.enter)="tituloSelecionado()" style="background-color: #212529;"
          class="input-pesquisa border-1 border-info rounded-end-0 rounded-start-2 bi-text-left w-auto p-2 ">
          <button role="button" [ngbTooltip]="'pesquisar'" placement="bottom" class="btn btn-outline-info ms-0 mx-2 me-3 rounded-start-0"
          (click)="tituloSelecionado()">
          <i class="bi bi-search" role="button"></i>
      </button>      
  </div>
</div>