#container {
  background-color:  #101011 !important;
}

.lbl-selecionado {
  color: #055160 !important;
}

.lbl-categoria:hover {
  color: #358d9f !important;
  background-color: #101011 !important;
}